body {
    background: rgb(20, 20, 20);
}

h1, h2, h3, h4, h5 {
    color: rgb(255, 255, 255);
}

.btn-style {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.3125rem;
    font-weight: bold;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #1967cc;
    background-color: rgb(255, 255, 255);
    transition: all 1000ms;
    font-size: 0.9375rem;
    position: relative;
    overflow: hidden;
    outline: 0.125rem solid rgb(255, 255, 255);
  }
  
  .btn-style:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 0.125rem solid #1967cc;
    box-shadow: 0.25rem 0.3125rem 1.0625rem -0.25rem #268391;
  }
  
  .btn-style::before {
    content: "";
    position: absolute;
    left: -3.125rem;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #1967cc;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .btn-style:hover::before {
    width: 250%;
  }

  .btn-size{
    width: 20rem;
  }

  .btn-back-size{
    padding: 0.2rem 1rem !important;
    font-size: 1.3rem;
  }

  .border {
    border: var(--bs-border-width) var(--bs-border-style) #797a7b !important;
  }

  .custom-box{
    min-height: 31.25rem;
    min-width: 31.25rem;
  }

  .custom-device-box{
    min-height: 31.25rem;
    min-width: 21.25rem;
  }

  .custom-border {
    border: 0.3rem solid #676767 !important;
  }